body {
  font-family: sans-serif;
}

a {
  /* text-decoration: none; */
}

label {
  display: block;
}

nav a {
  /* display: inline-block;
    margin: 1em; */
}

form div {
  margin: 1em;
  display: inline-block;
}
.clickable {
  cursor: pointer;
  color: black;
}
#index-banner {
  font-weight: bold;
}
.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
} */
/* .parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
} */

.landingbtn {
  display: flex;
  align-items: center;
}

.landingbtn_text {
  margin-top: 2px;
}

.video_player {
  /* width: 20%; */
  height: 100%;
  /* position: absolute; */
  /* display: block; */
  /* top: 0; */
  /* left: 0; */
  /* object-fit: cover; */
}

#videos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#mini_videos {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#focus {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

#focus_video_div {
  height: 75%;
}

.border {
  border: 1px solid black;
}

#dashboard {
  height: calc(100vh - 64px);
  /* height: 100%; */
  display: flex;
}

#left {
  width: 20%;
  display: flex;
  flex-direction: column;
}

#find_class {
  display: flex;
  align-items: center;
}

#right {
  width: 80%;
  overflow: auto;
}

#sub-right {
  width: 100%;
  height: 100%;
  display: flex;
}

#right-pane-1 {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#right-pane-1-top {
  height: 80%;
}

#right-pane-1-bottom {
  height: 20%;
}

#main_video_frame {
  background-color: black;
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hover_text:hover {
  cursor: pointer;
}

#create_a_class_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.create_course_labels {
  font-size: 1rem;
}

#create_a_class_form {
  display: flex;
  flex-direction: column;
  width: 75%;
}
#create_class_btn {
  align-self: center;
  width: 50%;
  font-size: 1.5rem;

  height: 3rem;
}

#create_course_text_area {
  height: 10rem;
  resize: none;
  border-color: gray;
  border-radius: 5px;
}

#search_for_class {
  margin: 2rem;
}

#find_a_class_course_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.three_dots {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.close_X {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.course_card {
  width: 30%;
  padding: 1rem;
}

#broadcast_watcher_video {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background-color: black;
}

#right-pane-2 {
  width: 30%;
}

#right-pane-2-top {
  height: 80%;
}

#chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#chat-messages {
  overflow-y: auto;
}

#question-like {
  background: none;
  border: none;
}

/* #chat-input {
  position: absolute;
  width: 270px;
  bottom: 140px;
} */

/* #chat-submit {
  height: 80%;
  width: 50px;
  position: absolute;
  right: 0;
} */

#right-pane-2-bottom {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
}

/* #right-pane-2-bottom > div {
  height: 100%;
} */
#right-pane-2-bottom > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
}

.left_btn {
  width: 40%;
}

.right_btn {
  width: 55%;
}
#single_course_view {
  width: 100%;
  height: 100%;
}
#single_course_image {
  object-fit: cover;
}

#single_course_info_div {
  display: flex;
}

#single_course_owner_image {
  width: 10%;
}

#single_course_btn_control_div {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

#single_course_owner_image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#single_course_info {
  width: 90%;
  display: flex;
  flex-direction: column;
}

#single_course_content {
  height: 45%;
  overflow: auto;
}

#single_course_btm_div {
  height: 55%;
  overflow: auto;
  padding: 1rem;
}
#calendar_container {
  height: 95%;
}

#calendar_top_text {
  margin-bottom: 1rem;
}

#questions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#questions {
  padding-top: 0.5rem;
  overflow-y: scroll;
}

#question {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.fuctional_course_list_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fuctional_course_list_item > div {
  display: flex;
}

/* Modal Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border: 1px solid #ec6f75;
}

.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  padding: 2px 16px;
  background-color: #ec6f75;
  color: white;
  justify-content: center;
}

.modal-body {
  width: 100%;
  padding: 2px 16px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #ec6f75;
  color: white;
}

.tooltipClass {
  font-size: 1rem !important;
  padding: 2px !important;
  padding-right: 4px !important;
  padding-left: 4px !important;
}

#discussion {
  width: 100%;
  /* height: calc(100vh - 190px); */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* #discussion_header {

} */

#discussion_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#discussion_text {
  /* height: 100%; */
  overflow: auto;
}

#discussion_text > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 340px);
  align-items: center;
}

.discussion_course_header {
  font-size: 2rem;
  font-weight: bold;
}

#discussion_text > ul > li {
  width: 95%;
}

#discussion_post {
  align-self: center;
  width: 75%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}

#discussion_post > div {
  width: 100%;
}
.discussion_post_btn {
  margin-right: 1rem;
  min-width: 7rem;
}

#discussion_input {
  flex-grow: 1;
}

.post_username {
  font-weight: bold;
}

.post_date {
  margin-left: 1rem;
}
